<p style="color: green"><%= notice %></p>

<h1 class="text-2xl">Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <% if current_user.customer_care? || (current_user.user? && order.user == current_user) || (current_user.doctor? && order.doctor == current_user) %>
      <%= render order %>
    <% end %>
  <% end %>
</div>
